<div class="card">
  <p-table (onRowSelect)="aggiungiClienteDaEliminare($event)" (onRowUnselect)="rimuoviClienteDaEliminare($event)" #dt1 [value]="clienti" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="false"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">
    <ng-template pTemplate="caption">
      <div class="flex">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($event.target, 'contains')"
            placeholder="Search keyword" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="isAdmin" style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center justify-content-center">
            Ragione sociale
            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:10rem">
          <div class="flex align-items-center justify-content-center">
            P. Iva
            <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:10rem">
          <div class="flex align-items-center justify-content-center">
            Email
            <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center justify-content-center">
            Data inserimento
            <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center justify-content-center">
            Data ultimo contatto
            <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center justify-content-center">
            Fatturato annuale
            <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:10rem">
          <div class="flex align-items-center justify-content-center">
            Pec
            <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center justify-content-center">
            Telefono
            <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center justify-content-center">
            Email contatto
            <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center justify-content-center">
            Nome contatto
            <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center justify-content-center">
            Cognome contatto
            <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center justify-content-center">
            Telefono contatto
            <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center justify-content-center">
            Tipo cliente
            <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>

        <!-- PRIMA COLONNA -->

        <td *ngIf="isAdmin">
          <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
        </td>
        <td *ngIf="!isAdmin">
          {{ cliente.ragioneSociale }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.ragioneSociale" pEditableColumnField="ragioneSociale">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input (blur)="onBlurEvent(cliente)" pInputText type="text" [(ngModel)]="cliente.ragioneSociale" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.ragioneSociale }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- SECONDA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.partitaIva }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.partitaIva" pEditableColumnField="partitaIva">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cliente.partitaIva" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.partitaIva }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- TERZA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.email }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.email" pEditableColumnField="email">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cliente.email" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.email }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- QUARTA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.dataInserimento | date: 'MM/dd/yyyy' }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.dataInserimento" pEditableColumnField="dataInserimento">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="date" [(ngModel)]="cliente.dataInserimento" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.dataInserimento }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- SECONDA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.dataUltimoContatto | date: 'MM/dd/yyyy' }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.dataUltimoContatto" pEditableColumnField="dataUltimoContatto">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="date" [(ngModel)]="cliente.dataUltimoContatto" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.dataUltimoContatto }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- SECONDA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.fatturatoAnnuale | currency: 'USD':'symbol' }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.fatturatoAnnuale" pEditableColumnField="fatturatoAnnuale">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cliente.fatturatoAnnuale" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.fatturatoAnnuale }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- SECONDA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.pec }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.pec" pEditableColumnField="pec">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cliente.pec" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.pec }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- SECONDA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.telefono }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.telefono" pEditableColumnField="telefono">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cliente.telefono" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.telefono }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- SECONDA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.emailContatto }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.emailContatto" pEditableColumnField="emailContatto">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cliente.emailContatto" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.emailContatto }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- SECONDA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.nomeContatto }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.nomeContatto" pEditableColumnField="nomeContatto">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cliente.nomeContatto" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.nomeContatto }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- SECONDA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.cognomeContatto }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.cognomeContatto" pEditableColumnField="cognomeContatto">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cliente.cognomeContatto" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.cognomeContatto }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- SECONDA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.telefonoContatto }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.telefonoContatto" pEditableColumnField="telefonoContatto">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cliente.telefonoContatto" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.telefonoContatto }}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- SECONDA COLONNA -->

        <td *ngIf="!isAdmin">
          {{ cliente.tipoCliente }}
        </td>
        <td *ngIf="isAdmin" [pEditableColumn]="cliente.tipoCliente" pEditableColumnField="tipoCliente">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="cliente.tipoCliente" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ cliente.tipoCliente }}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="13">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator (onPageChange)="onPageChange($event)" [first]="0" [rows]="10" [totalRecords]="page!.totalElements"
    [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
</div>
<p-button (onClick)="eliminaClienti()" *ngIf="ciSonoElementiDaEliminare()" styleClass="p-button-danger" label="Elimina"></p-button>
<p-toast></p-toast>
